#header {
  position: fixed;  /* Cố định navbar */
  top: 0;  /* Cách top 10px */
  left: 50%;
  transform: translateX(-50%); /* Căn giữa navbar */
  width: calc(100% - 400px); /* Điều chỉnh chiều rộng theo margin */
  padding: 15px 50px;
  background-color: #25beb3;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  z-index: 1000; /* Giúp navbar luôn nổi trên các phần khác */
  box-shadow: 0px 5px 0px #09504b, 0px 0px 15px rgba(0, 255, 200, 0.7);
}

/* Thêm padding-top vào body để tránh nội dung bị che */
body {
  padding-top: 80px; /* Điều chỉnh theo chiều cao navbar */
}


.nav-bar {
  display: flex;
  justify-content: space-between; /* Đẩy "HealthShark" về trái, các link còn lại về phải */
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.Text-icon a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}

.attribute-nav-bar {
  display: flex;
  gap: 20px; /* Tạo khoảng cách giữa các thẻ <a> */
}

.attribute-nav-bar a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  /* border: 1px solid whitesmoke;
  border-radius: 50px; */
  position: relative;
  margin: 0 10px;
}

.attribute-nav-bar a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: whitesmoke;
  transition: 0.3s;
}

.attribute-nav-bar a:hover::after{
  width: 100%;
}
