.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    gap: 10px;
  }
  
  .home img {
    width: 350px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
  }
  
  .home h1 {
    color: #25beb3;
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    margin: 5px 0;
  }
  
  .home p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    max-width: 600px;
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 5px 20px;
  }
  #button {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
  }
  #button a {
      text-decoration: none;
      border-radius: 50px;
     
  }
  
  .nav-1{
      font-weight: bold;
      color: whitesmoke;
      background-color: #09504b;
      padding: 10px 200px;
  }
  .nav-2{
      background-color: #7bd8d1;
      color: #09504b;
      padding: 10px 110px;
  }